/* src/pages/styles/RegisterLoginPage.module.css */
.pageContainer {
    max-width: 450px;
    margin: 50px auto;
    padding: 20px;
}

.toggle {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.toggle button {
    flex-grow: 1;
    padding: 10px;
    font-size: 1.1em;
    background-color: #f8f8f8;
    border: none;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle button.active {
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom: none;
    font-weight: bold;
    color: #333;
}