.signatureScents {
  padding: 10px 20px;
  background-color: #f9f9f9; 
  text-align: center;
}

.title {
  font-size: 2em;
  margin-bottom: 40px;
  color: #333;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Times New Roman', serif;
}

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px; 
  max-width: 1200px;
  margin: 0 auto;
  justify-items: center; 
}


@media (max-width: 600px) {
  .productList {
    grid-template-columns: 1fr; 
    padding: 0 20px;
  }
}