/* src/index.css */
body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  color: #333;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  font-family: inherit;
}
main {
  min-height: 80vh; /* Минимальная высота контента */
}